<div>
  <form class="example-form">
    <md-input-container>
      <input mdInput placeholder="Nome" [value]="dados.nome">
    </md-input-container>
    <div class="inline-form">
      <md-input-container style="flex-grow: 2">
        <input mdInput placeholder="tipo" [value]="dados.tipo">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Alinhamento" [value]="dados.alinhamento">
      </md-input-container>
    </div>
    <div class="inline-form">
      <md-input-container>
        <input mdInput placeholder="Classe de Armadura" [value]="dados.ca">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Pontos de Vida" [value]="dados.pv">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Deslocamento " [value]="dados.deslocamento">
      </md-input-container>
    </div>

    <div class="inline-form">
      <md-input-container align="end">
        <span mdPrefix>FOR:</span>
        <input mdInput type="number" [value]="dados.habilidades?.for">
      </md-input-container>
      <md-input-container align="end">
        <span mdPrefix>DES:</span>
        <input mdInput type="number" [value]="dados.habilidades?.des">
      </md-input-container>
      <md-input-container align="end">
        <span mdPrefix>CON:</span>
        <input mdInput type="number" [value]="dados.habilidades?.con">
      </md-input-container>
      <md-input-container align="end">
        <span mdPrefix>INT:</span>
        <input mdInput type="number" [value]="dados.habilidades?.int">
      </md-input-container>
      <md-input-container align="end">
        <span mdPrefix>SAB:</span>
        <input mdInput type="number" [value]="dados.habilidades?.sab">
      </md-input-container>
      <md-input-container align="end">
        <span mdPrefix>CAR:</span>
        <input mdInput type="number" [value]="dados.habilidades?.car">
      </md-input-container>
    </div>
    <md-input-container>
      <input mdInput placeholder="Sentidos" [value]="dados.sentidos">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Idiomas" [value]="dados.idiomas">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Nível de Desafio" [value]="dados.nd">
    </md-input-container>

    <md-tab-group style="height: 500px" md-stretch-tabs>
      <md-tab label="Habilidades Especiais">
        <ng-template ngFor let-habilit [ngForOf]="dados.habilidadesEspeciais">
          <md-card class="bloco">
            <md-input-container>
              <input mdInput placeholder="Nome" [value]="habilit.nome">
            </md-input-container>
            <md-input-container>
              <textarea rows="3" mdInput placeholder="Descrição">{{ habilit.descricao }}</textarea>
            </md-input-container>
          </md-card>
        </ng-template>
      </md-tab>
      <md-tab label="Ações">
        <ng-template ngFor let-acoes [ngForOf]="dados.acoes">
          <md-card class="bloco">
            <md-input-container>
              <input mdInput placeholder="Nome" [value]="acoes.nome">
            </md-input-container>
            <md-input-container>
              <textarea rows="3" mdInput placeholder="Descrição">{{ acoes.descricao }}</textarea>
            </md-input-container>
          </md-card>
        </ng-template>
      </md-tab>
      <md-tab label="Ações Lendárias">
        404
      </md-tab>
    </md-tab-group>

    <button color="primary" md-raised-button>Gerar NPC</button>
  </form>
</div>

<div>
  <stat-block>
    <creature-heading>
      <h1>{{dados.nome}}</h1>
      <h2>{{dados.tipo}}, {{dados.alinhamento}}</h2>
    </creature-heading>
    <top-stats>
      <property-line>
        <h4>Classe de Armadura</h4>
        <p>{{dados.ca}}</p>
      </property-line>
      <property-line>
        <h4>Pontos de Vida</h4>
        <p>{{dados.pv}}</p>
      </property-line>
      <property-line>
        <h4>Deslocamento</h4>
        <p>{{dados.deslocamento}}</p>
      </property-line>

      <abilities-block
        [for]="dados.habilidades?.for"
        [des]="dados.habilidades?.des"
        [con]="dados.habilidades?.con"
        [int]="dados.habilidades?.int"
        [sab]="dados.habilidades?.sab"
        [car]="dados.habilidades?.car">
      </abilities-block>

      <property-line>
        <h4>Sentidos</h4>
        <p>{{dados.sentidos}}</p>
      </property-line>
      <property-line>
        <h4>Idiomas</h4>
        <p>{{dados.idiomas}}</p>
      </property-line>
      <property-line>
        <h4>Nível de Desafio</h4>
        <p>{{dados.nd}}</p>
      </property-line>
    </top-stats>

    <ng-template ngFor let-habilit [ngForOf]="dados.habilidadesEspeciais">
      <property-block>
        <h4>{{habilit.nome}}</h4>
        <p>{{habilit.descricao}}</p>
      </property-block>
    </ng-template>

    <h3>Ações</h3>

    <ng-template ngFor let-acoes [ngForOf]="dados.acoes">
      <property-block>
        <h4>{{acoes.nome}}</h4>
        <p>{{acoes.descricao}}</p>
      </property-block>
    </ng-template>

  </stat-block>
</div>
