<mat-tab-group class="form-tab-group" mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>Editar</ng-template>
    <div class="tab-content">
    <div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <mat-form-field>
      <input matInput placeholder="Nome" name="nome" [(ngModel)]="dados.nome" required>
    </mat-form-field>
    <div class="inline-form">
      <mat-form-field style="flex-grow: 2">
        <input matInput placeholder="tipo" name="tipo" [(ngModel)]="dados.tipo">
      </mat-form-field>
      <mat-form-field style="flex-grow: 1">
        <input matInput placeholder="Alinhamento" name="alinhamento" [(ngModel)]="dados.alinhamento">
      </mat-form-field>
    </div>
    <div class="inline-form">
      <mat-form-field>
        <input matInput placeholder="Classe de Armadura" name="ca" type="number" [(ngModel)]="dados.ca">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pontos de Vida" name="pv" [(ngModel)]="dados.pv">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Deslocamento" name="deslocamento" [(ngModel)]="dados.deslocamento">
      </mat-form-field>
    </div>

    <div class="inline-form">
      <mat-form-field align="end">
        <span mdPrefix>FOR:</span>
        <input matInput type="number" name="for"
          [ngModel]="dados.habilidades?.for"
          (ngModelChange)="dados.habilidades.for=$event">
      </mat-form-field>
      <mat-form-field align="end">
        <span mdPrefix>DES:</span>
        <input matInput type="number" name="des"
          [ngModel]="dados.habilidades?.des"
          (ngModelChange)="dados.habilidades.des=$event">
      </mat-form-field>
      <mat-form-field align="end">
        <span mdPrefix>CON:</span>
        <input matInput type="number" name="con"
          [ngModel]="dados.habilidades?.con"
          (ngModelChange)="dados.habilidades.con=$event">
      </mat-form-field>
      <mat-form-field align="end">
        <span mdPrefix>INT:</span>
        <input matInput type="number" name="int"
          [ngModel]="dados.habilidades?.int"
          (ngModelChange)="dados.habilidades.int=$event">
      </mat-form-field>
      <mat-form-field align="end">
        <span mdPrefix>SAB:</span>
        <input matInput type="number" name="sab"
          [ngModel]="dados.habilidades?.sab"
          (ngModelChange)="dados.habilidades.sab=$event">
      </mat-form-field>
      <mat-form-field align="end">
        <span mdPrefix>CAR:</span>
        <input matInput type="number" name="car"
          [ngModel]="dados.habilidades?.car"
          (ngModelChange)="dados.habilidades.car=$event">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Sentidos" name="sentidos" [(ngModel)]="dados.sentidos">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Idiomas" name="idiomas" [(ngModel)]="dados.idiomas">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nível de Desafio" name="nd" [(ngModel)]="dados.nd">
    </mat-form-field>

    <mat-tab-group style="height: 510px; margin-bottom: 10px" mat-stretch-tabs>
      <mat-tab label="Habilidades Especiais">
        <ng-template ngFor let-habilit [ngForOf]="dados.habilidadesEspeciais" let-i="index">
          <mat-card class="bloco">
            <mat-form-field>
              <input matInput placeholder="Nome"
                name="habi-nome-{{i}}"
                [(ngModel)]="habilit.nome">
            </mat-form-field>
            <mat-form-field>
              <textarea rows="3" matInput placeholder="Descrição"
                name="habi-descricao-{{i}}"
                [(ngModel)]="habilit.descricao">
              </textarea>
            </mat-form-field>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab label="Ações">
        <ng-template ngFor let-acoes [ngForOf]="dados.acoes" let-i="index">
          <mat-card class="bloco">
            <mat-form-field>
              <input matInput placeholder="Nome"
              name="acoes-nome-{{i}}"
              [(ngModel)]="acoes.nome">
            </mat-form-field>
            <mat-form-field>
              <textarea rows="3" matInput placeholder="Descrição"
                name="acoes-descricao-{{i}}"
                [(ngModel)]="acoes.descricao">
              </textarea>
            </mat-form-field>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab label="Ações Lendárias">
        404
      </mat-tab>
    </mat-tab-group>

    <button type="submit" color="accent" mat-raised-button>Salvar NPC</button>
  </form>
</div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Visualizar</ng-template>
    <div class="tab-content">
     <npc-box [data]="dados"></npc-box>
    </div>
  </mat-tab>
</mat-tab-group>



