<mat-toolbar color="primary" class="navbar">
  <button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon class="menu-button">menu</mat-icon>
  </button>

  <a routerLink="/" class="valign-wrapper">
    <img class="logo" src="/assets/img/logo2.svg" alt="Dnd 5e">
  </a>

  <span class="filler"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu"
          class="menu-button">
    <mat-icon>
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>directions</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fullscreen style="top: 64px !important;">

  <mat-sidenav
   [mode]="isLargeScreen ? 'side' : 'over'"
   [opened]="isLargeScreen"
    #sidenav
    class="example-sidenav"
    style="width: 240px; box-shadow: 3px 0 6px rgba(0,0,0,.24);">
    <h3 mat-subheader class="sidebar-header sidebar-title">NPC</h3>
    <mat-list style="padding-top: 0;">
      <mat-list-item routerLink="/npc/new" routerLinkActive="active" class="sidebar-list-item">
        <a class="navbar-link">Criar</a>
      </mat-list-item>
      <mat-list-item class="sidebar-list-item">
        <a class="navbar-link">Lista</a>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3 class="sidebar-header sidebar-title" mat-subheader>Components</h3>
    <mat-list style="padding-top: 0;">
      <mat-list-item class="sidebar-list-item" routerLink="/gallery" routerLinkActive="sidebar-list-item-active">
        <a class="navbar-link">Gallery</a>
      </mat-list-item>
      <mat-list-item routerLink="/dialog" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
        <a class="navbar-link">Dialog</a>
      </mat-list-item>
      <mat-list-item routerLink="buttons" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
        <a class="navbar-link">Buttons</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div style="padding: 20px;">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
